# Dependencies
**/node_modules

# Useless and heavy folders
**/dist
coverage/
junit/

# Logs
**/*.log
**/.env*

# Other useless files in the image
cypress/
.git/
.github/
.githooks/
.husky/
.nodemon.json
.editorconfig
.gitattributes
.coveralls.yml
.prettierignore
.prettierrc.js
.eslintrc.js
.nvmrc
.npmrc
.eslintignore
.eslinrcjs
.tern-project
cypress.json
cloudbuild.yaml
docker-compose.yml
MAINTAINERS.md
README.md
CHANGELOG.md
CONTRIBUTING.md
**/*.test.ts
**/*.test.tsx
**/*.test.js
**/*.stories.tsx
**/*.spec.ts
**/*.spec.js
**/*.perf.ts
package-lock.json
renovate.json
**/jest*
**/.DS_Store
.vscode
**/.storybook/
**/__fixtures__/
**/__snapshots__/
**/__mocks__/
**/__mock__/
**/__tests__/
**/tsconfig.tsbuildinfo
Procfile
release.config.js
