{
  "extends": [
    "algolia",
    "algolia/jest"
  ],
  "rules": {
    "valid-jsdoc": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ],
    // temp during mig
    "jsdoc/require-param-description": "off",
    "jsdoc/require-description": "off",
    "jsdoc/no-undefined-types": "off"
  }
}
