{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": ["algolia", "algolia/jest", "algolia/typescript"],
  "rules": {
    "no-continue": "off",
    "valid-jsdoc": "off",
    "require-await": "off",
    "@typescript-eslint/sort-type-union-intersection-members": "off",
    "import/extensions": [
      "error",
      {
        "ignorePackages": true,
        "pattern": {
          "js": "always",
          "ts": "never"
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "rules": {
        "consistent-return": ["off"],
        "no-dupe-class-members": ["off"]
      }
    }
  ]
}
