name: CANCEL GH

on:
  push:
    branches:
      - fix/issue-1233-docker-publishing

jobs:
  cancel:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RUN_ID: ${{ github.run_id }}

    steps:
      - name: Curl
        run: gh run cancel "$RUN_ID"
